<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>demo</title>
</head>

<body>
<ins class="adsbybatmobi" style="display:inline-block;width:320px;height:250px"
     data-ad-appkey="U781V0NSWSX7G1G87RZ2QWVG"
     data-ad-placementid="10922_81601"></ins>
<ins class="adsbybatmobi" style="display:inline-block;width:320px;height:480px"></ins>
</body>
<!--<script type="application/javascript" src="http://test.dsp.batmobil.net/js/adsbybatmobi.js"></script>-->
<script type="application/javascript" src="//cdn.batmobi.net/js/v2/adsbybatmobi.js"></script>
<script>
  adsbybatmobi.push({
//    appkey:"U781V0NSWSX7G1G87RZ2QWVG",
//    placement_id:"10922_96172",
  });
  adsbybatmobi.push({
      appkey:"U781V0NSWSX7G1G87RZ2QWVG",
      placement_id:"10922_96172",
  });
</script>
<script>
    (adsbybatmobi = window.adsbybatmobi || []).push({
        appkey:"U781V0NSWSX7G1G87RZ2QWVG",
        placement_id:"10922_96172"
    });
</script>
</html>
